.homepage-sidebar {
  background-color: #e2dedc;
  padding: 16px;
  min-width: 261px;
  margin-right: 20.19px;
}

@media (max-width: 320px) {
  .homepage-sidebar {
    display: none;
  }
}

.homepage-sidebar ul {
  font-size: 18px;
  padding: 16px;
  margin: 0;
}

.homepage-sidebar ul li a {
  color: inherit;
  text-decoration: none;
}
