.breadcrumbs ol {
  padding: 0;
}

.breadcrumbs a:not(:first-child):before {
  content: ' > ';
  color: #acacac;
}

.breadcrumbs a {
  color: #00a8a9;
  text-decoration: none;
}

.breadcrumbs a.active {
  color: #cb0d1f;
}
