.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product img {
  border: 1px solid #e2dedc;
  padding: 8px;
  height: 233px;
  object-fit: cover;
}

.product h2 {
  color: #626262;
  font-weight: normal;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}

.product .product-price-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

@media (min-width: 320px) {
  .product .product-price-container {
    flex-direction: column;
  }
}

.product .product-price {
  color: #1e2b50;
  font-size: 21px;
  font-weight: 800;
}

.product .product-discount {
  color: #808185;
  font-size: 15px;
  text-decoration: line-through;
}

.product button {
  background-color: #00a8a9;
  color: #ffffff;
  text-transform: uppercase;
  padding: 8px 28px;
  border-radius: 5px;
  font-size: 18px;
  border: none;
  margin-top: 13.51px;
  font-weight: 800;
  width: 100%;
  height: 40px;
  cursor: pointer;
}
