.product-category-container {
  width: 100%;
}

.product-category-content-container {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.product-category-content {
  flex: 1;
  width: 100%;
}

.product-category-content h1 {
  color: #ed1a39;
  font-size: 32px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0px;
}
