.product-category-controls {
  display: flex;
  justify-content: space-between;
}

.product-category-controls .product-category-controls-view {
  display: flex;
}

.product-category-controls .product-category-controls-view-item {
  display: flex;
}

.product-category-controls-order {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

label[for='select-order'] {
  color: #808185;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  margin-right: 13.28px;
}

select#select-order {
  outline: none;
  border: 1px solid #e2dedc;
  border-radius: 5px;
  background-color: white;
  min-width: 216px;
}
