main {
  display: flex;
  flex-direction: column;
}

main .upper {
  flex: 1;
  background-color: #acacac;
  min-height: 86px;
}

main .lower {
  margin-top: 16px;
}

main .lower h1 {
  margin-top: 0px;
  font-size: 26px;
  font-weight: normal;
}
