header .login-or-signup {
  color: #ffffff;
  background-color: #231f20;
  font-size: 14px;
  text-align: right;
  margin: 0 -9999px;
  padding: 4px calc(9999px + 20px);
}

@media (max-width: 320px) {
  header .login-or-signup {
    text-align: center;
  }
}

header .login-or-signup a {
  text-decoration: underline;
  font-weight: bold;
  color: inherit;
}

header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 114px;
  padding: 0 20px;
}

header .row .hamburguer-icon,
header .row .search-icon {
  font-family: 'Font Awesome 5 Free', sans-serif;
  display: none;
}

header .row .webjump-logo {
  width: 186px;
  height: 52px;
}

header .row .search-form {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  margin-left: 16px;
  justify-content: flex-end;
}

header .row .search-form input {
  flex: 1;
  max-width: 414px;
  height: 44px;
  padding: 8px;
  border: 1px solid #959595;
}

header .row .search-form button {
  background-color: #cb0d1f;
  width: 110px;
  height: 44px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 800;
  padding: 8px;
  border: none;
}

@media (max-width: 320px) {
  header .row .hamburguer-icon,
  header .row .search-icon {
    display: block;
    font-size: 25px;
  }

  header .row .search-form {
    display: none;
  }
}
