nav.main-nav {
  min-height: 54px;
  background-color: #cb0d1f;
  margin: 0 -9999px;
  padding: 0 calc(9999px + 20px);
}

@media (max-width: 320px) {
  nav.main-nav {
    display: none;
  }
}

nav.main-nav a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
}

nav.main-nav ul {
  height: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav.main-nav ul li {
  margin-right: 75px;
}
