.filters {
  padding: 16px;
  border: 1px solid #e2dedc;
  margin-right: 24px;
  flex: 261px 0;
}

@media (max-width: 320px) {
  .filters {
    margin-top: 18.49px;
  }
}

.filters .filters-title {
  color: #ed1a39;
  text-transform: uppercase;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 14px;
}

.filters .filters-subtitle {
  color: #1e2b50;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 32px;
}

.filters .filters-subtitle:first-of-type {
  margin-top: 0;
}

.filters ul.filters-list {
  color: #626262;
  padding: 0 16px;
}

.filters ul.filters-list li *,
.filters ul.filters-colors-list li * {
  cursor: pointer;
}

.filters ul.filters-list a {
  color: inherit;
  text-decoration: none;
}

.filters ul.filters-colors-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3px;
  list-style: none;
  padding: 0;
}

.filters ul.filters-colors-list li button {
  width: 48px;
  height: 24px;
  border: none;
}
