.app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  margin: 0 auto;
}

.app-content {
  display: flex;
  flex: 1;
  margin-top: 17px;
  margin-bottom: 22px;
  padding: 0 20px;
}
